:root {
    --h1-fz: 6vw;
    --h2-fz: 2vw;
    --h4-fz: 3.5vw;
    --h5-fz: clamp(20px, 3vw, 50px);
    --nav-fz: 2vw;
    --p-fz: 1.5vw;
}

html { 
    scroll-behavior: smooth; 
    overflow-x: hidden;
}



* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    /* border: 0.1px solid red; */
    font-family: "Rajdhani", sans-serif;
    width: fit-content;
}

nav {
    width: 100%;
    position: fixed;
}

#mainDiv {
    font-size: var(--nav-fz);
    background-color: white;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: var(--h1-fz);
    font-weight: 900;
}

h2 {
    font-size: var(--h2-fz);
}

h4 {
    font-size: var(--h4-fz);
}

h5 {
    font-size: var(--h5-fz);
}

p {
    font-size: var(--p-fz);
    font-weight: 500;
}

.navtext {
    color: black;
    background-color: white;
    margin-right: 3vw;
    font-weight:bold;
}

#navDrop {
    display: none;
}

#navHolder {
    margin-left: 2vw;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#hamburger {
    background-color: white;
    width: 96vw;
    text-align: end;
    align-items: flex-end;
    justify-content: flex-end;
    display: none;
}

.hamburg {
    width: clamp(50px, 4vw, 100px);
    height: clamp(50px, 4vw, 100px);
}

#navLogo {
    width: clamp(50px, 4vw, 100px);
    height: clamp(50px, 4vw, 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navBlock {
    display: none;
}

#section-home {
    text-align: center;
    align-items: center;
    width: 100%;
    background-image:url("../images/fourseasons2.jpeg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: row;
}

#section-tentang {
    color: black;
    background-color: white;
    height: 60vh;
    border: 1px solid black;
    justify-content: center;
    flex-direction: row;
}

#tentang-main{
    width: 50vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
}
#tentang-main-text {
    text-align: left;
    background-color: white;
    padding-left: calc(clamp(50px, 4vw, 100px) + 2vw);
}

#tentang-photo {
    width: 50vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
}

.tentang {
    text-align: justify;
    align-self: left;
    color: black;
    background-color: white;
    padding: 1vh;
}

.lomba-entry {
    font-size: var(--h2-fz);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
.section-lomba {
    color: black;
    background-color: #FFFFFF;
}

/* #countdown {
    
    background-color: transparent;
    color: white;
    width: 100vw;
} */

#sc-pic {
    width: 10vw;
    height: 10vw;
    align-self: left;
}

#tentang-paragraph {
    font-size: var(--p-fz);
    display: flex;
    margin: 0;
    width: 92.5%;
}

#tentang-title {
    width: fit-content;
    font-size: var(--h4-fz);
}

#lomba-title {
    align-self: center;
}

#timer {
    word-spacing: 3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.countdownText {
    width: 23%;
    background-color: transparent;
    text-shadow: 3px 3px  5px black;
    font-family: "Red Hat Display", sans-serif;
}

.countdownDot {
    width: 2%;
    background-color: transparent;
    color: black;

}

#days {
    margin-left: 0vw;
    color: #BDF0C6;
}

#hours {
    color: #F3F39B;
}

#minutes {
    color: #E3D5C8;
}

#seconds {
    color: #DCECFC;
}

.Footer {
    border-top: 1px solid black;
    background-size: 100% 100%;
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.bg-white {
    background-color: transparent;
}

.Footer-Section {
    background-color: transparent;
    color: white;
    width: 20vw;
    height: 25vh;
    margin-top:15vh;
    border-radius: 10px;
}

#footer-contact {
    margin-right: 5vw;
}

#footer-location {
    margin-left: 5vw;
    height: fit-content;
    width: fit-content;
}

iframe {
    width: 20vw;
    height: 25vh;
    border-radius: 10px;
}

.footer-text {
    width: auto;
    height: auto;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.footer-links {
    border: 0px;
    font-size: var(--p-fz);
}


@media only screen and (max-width: 720px) {
    :root {
        --h1-fz: 10vw;
        --h2-fz: 6vw;
        --h4-fz: 8vw;
        --nav-fz: 8vw;
        --p-fz: 5vw;
    }

    #navLogo {
        height: clamp(50px, 7.5vh, 100px);
        width: clamp(50px, 7.5vh, 100px);
    }

    #tentang-paragraph {
        width: 85%;
    }

    #countdown {
        font-size: 12vw;
        word-spacing: 2vw;
    }

    #days {
        color: #000000;
    }
    
    #hours {
        color: #000000;
    }
    
    #minutes {
        color: #000000;
    }
    
    #seconds {
        color: #000000;
    }

    
}

@media only screen and (max-width: 720px) {
    #section-home {
        background-image:url("../images/Footer_BG.jpg");
        background-size: 100% 100%;
        height: 45vh;
    }

    #section-tentang {
        flex-direction: column-reverse;
        height: 100vh;
    }

    #tentang-main {
        width: 100vw;
        height: 70vh;
    }

    #tentang-photo {
        justify-content: center;
        width: 100vw;
        height: 30vh;
        align-items: center;
    }

    #sc-pic {
        width: 20vw;
        height: 20vw;
    }

    #navHolder {
        display: none;
    }

    #navDrop {
        display: none;
        flex-direction: column;
        position: fixed;
        margin-top: clamp(50px, 7.5vh, 100px);
        width: 100vw;
        height: 25vh;
        background-color: white;
    }

    #navBlock {
        height: calc(clamp(50px, 7.5vh, 100px) + 25vh);
    }

    .navText {
        border-top: 0.1px solid #000000;
        padding: 5px;
        background-color: #FFFFFF;
        width: 100vw;
        height: 6.25vh;
        text-align: left;
        align-self: center;
        justify-content: center;
        font-size: var(--nav-fz);
        font-weight: bold;
    }

    #merch-link {
        border-bottom: 0.1px solid #000000;
    }


    #hamburger {
        display: inline;
    }

    .hamburg {
        width: clamp(50px, 7.5vh, 100px);
        height: clamp(50px, 7.5vh, 100px);
        background-color: white;
    }



    iframe {
        width: 250px;
        height: 200px;
    }

    #footer-contact {
        margin-right: 0;
    }

    #footer-location {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .countdownText {
        text-shadow: none;
    }

    .Footer {
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }

    .Footer-Section {
        margin-top: 5vh;
        width: 250px;
        height: 200px;
    }
}


/* @supports (-webkit-text-stroke: 2px black) {
    #countdown-timer {
      -webkit-text-stroke: 2px black;
      -webkit-text-fill-color: white;
    }
} */
