:root {
    --h1-fz: 6vw;
    --h2-fz: 2vw;
    --h4-fz: 3.5vw;
    --h5-fz: clamp(20px, 3vw, 50px);
    --nav-fz: 1.75vw;
    --p-fz: 1.5vw;
}

html { 
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

body {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    color: black;
    /* border: 0.1px solid red;  */
    font-family: "Poppins";
    width: fit-content;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 10;
}

#mainDiv {
    font-size: var(--nav-fz);
    background-color: transparent;
    text-align: center;
    justify-content: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: var(--h1-fz);
    font-weight: 900;
}

#announce {
    color: white;
    text-shadow: 3px 3px 5px black;
}

h2 {
    font-size: var(--h2-fz);
}

h4 {
    font-size: var(--h4-fz);
}

h5 {
    font-size: var(--h5-fz);
}

p {
    font-size: var(--p-fz);
    background-color: transparent;
    color: black;
    font-weight: 500;
}

@keyframes hoverScale {
    to {transform: scale(1.06);}
}

.hoverPop:hover {
    animation-name: hoverScale;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.navtext {
    color: black;
    background-color: white;
    margin-right: 3vw;
    font-weight:bold;
}

#navDrop {
    display: none;
}

#navHolder {
    margin-left: 0.25vw;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
}

#hamburger {
    background-color: white;
    width: 96vw;
    text-align: end;
    align-items: flex-end;
    justify-content: flex-end;
    display: none;
}

.hamburg {
    width: 50px;
    height: 50px;
}

#navLogo {
    width: clamp(25px, 3vw, 75px);
    height: clamp(25px, 3vw, 75px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5vw;
    background-color: transparent;
}

#navBlock {
    display: none;
}

#section-home-link {
    margin-left: 1vw;
}

#section-tentang-link {
    margin-right: 1.5vw;
}

#section-merch {
    margin-right: 1vw;
}

#section-countdown {
    text-align: center;
    align-items: center;
    width: 100%;
    background-image:url("../images/backgrounds/sc_gradient.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    /* font-family: "Red Hat Display", sans-serif; */
    display: flex;
    flex-direction: column;
}

#section-home {
    align-items: center;
    background-image: url('../images/backgrounds/ScefBG.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
}

#section-tentang {
    color: black;
    background-color: transparent;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 2.5vw;
}

#section-lomba {
    align-items: center;
    border-top: 10px solid white;
    background: linear-gradient(180deg,#4BAA8F 0%, #BDF0C6 85%, #3991f2 100%);
}

#tentang-main{
    width: 50vw;
    height: 60vh;
    align-items: flex-start;
}
#tentang-main-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#tentang-paragraph {
    font-size: var(--p-fz);
    display: flex;
    text-align:center;
    word-spacing: 0px;
    margin: 0;
    padding: 0;
    width: 95%;
}

#tentang-photo {
    width: 50vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
}

.tentang {
    text-align: center;
    align-self: left;
    color: black;
}

.section-lomba {
    color: black;
    background-color: #FFFFFF;
}

/* #countdown {
    
    background-color: transparent;
    color: white;
    width: 100vw;
} */

#section-trailer {
    background-color: transparent;
    align-items: center;
}

#trailer-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 30vw;
}

#trailer-video {
    width: 45vw;
    height: 22.5vw;
}

#trailer-title {
    width: 30vw;
    height: 15vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

.trailer-section {
    color: black;
    text-align: center;
}

#sc-pic {
    width: 15vw;
    height: 15vw;
    align-self: left;
    background-size: cover;
}

#tentang-title {
    width: 100%;
    font-size: var(--h4-fz);
}

#section-tentang-trailer {
    height: 200vh;
    /* background-image: url("../images/backgrounds/trailer_tentang.png"); */
    background-size: 100% 100%;
    background: linear-gradient(180deg, #3991f2 0%,#ACE9FF 100%);
}

#section-trailer {
    height: 100vh;
}

#lomba-title {
    align-self: center;
    color: black;
    background-color: white;
    margin-bottom: 20px;
}

#timer {
    word-spacing: 3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.countdownText {
    width: 23%;
    background-color: transparent;
    text-shadow: 3px 3px  5px black;
    /* font-family: "Red Hat Display", sans-serif; */
}

.countdownDot {
    width: 2%;
    background-color: transparent;
    color: black;

}

#days {
    margin-left: 0vw;
    color: #BDF0C6;
}

#hours {
    color: #F3F39B;
}

#minutes {
    color: #ed8a48;
}

#seconds {
    color: #DCECFC;
}

.Footer {
    background: linear-gradient(180deg, #ACE9FF 5%, #DCECFC 75%);
    background-size: 100% 100%;
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.bg-white {
    background-color: transparent;
}

.Footer-Section {
    background-color: transparent;
    color: black;
    width: 20vw;
    height: 25vh;
    margin-top:15vh;
    border-radius: 10px;
}

#footer-contact {
    margin-right: 3vw;
    width: 22vw;
}

#footer-location {
    margin-left: 5vw;
    height: fit-content;
    width: fit-content;
}

iframe {
    width: 20vw;
    height: 25vh;
    border-radius: 10px;
}

.footer-text {
    width: auto;
    height: auto;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.footer-contact {
    font-weight: 500;
}

.footer-links {
    border: 0px;
    font-size: var(--p-fz);
}

.credits {
    color: white;
}

#credit-section {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 720px) {
    :root {
        --h1-fz: 10vw;
        --h2-fz: 6vw;
        --h4-fz: 8vw;
        --nav-fz: 8vw;
        --p-fz: 5vw;
    }

    #navLogo {
        height: clamp(50px, 7.5vh, 100px);
        width: clamp(50px, 7.5vh, 100px);
    }

    #tentang-paragraph {
        width: 80%;
        font-size: 3.5vw;
    }

    #countdown {
        font-size: 12vw;
        word-spacing: 2vw;
    }

    
}

@media only screen and (max-width: 720px) {
    /* * {
        border: 1px solid red;
    } */

    #mainDiv {
        background-color: white;
    }

    #section-countdown {
        background-size: 100% 45vh;
        background-position:top;
        height: 45vh;
    }

    #section-home {
        height: 56.25vw;
    }

    #section-tentang-trailer {
        align-items: flex-start;
        justify-content: flex-start;
        height: 120vh;
    }

    #trailer-main {
        width: 70vw;
        height: 40vw;
    }

    #trailer-video {
        width: 70vw;
        height: 40vw;
    }

    #trailer-title {
        width: 45vw;
        height: 22.5vw;
    }

    #section-trailer {
        height: 40vh;
    }

    #tentang-main {
        width: 100vw;
        height: 50vh;
    }

    #tentang-photo {
        margin-top: 5vw;
        justify-content: center;
        width: 100vw;
        height: 30vh;
        align-items: center;
    }

    #sc-pic {
        width: 40vw;
        height: 40vw;
    }

    #navHolder {
        display: none;
    }

    #navDrop {
        display: none;
        flex-direction: column;
        position: fixed;
        margin-top: 50px;
        width: 100vw;
        height: 25vh;
        background-color: white;
    }

    #navBlock {
        height: calc(clamp(50px, 7.5vh, 100px) + 25vh);
    }

    .navText {
        border-top: 0.1px solid #000000;
        padding: 5px;
        background-color: #FFFFFF;
        width: 100vw;
        height: 6.25vh;
        text-align: left;
        align-self: center;
        justify-content: center;
        font-size: var(--nav-fz);
        font-weight: bold;
    }

    #merch-link {
        border-bottom: 0.1px solid #000000;
    }


    #hamburger {
        display: inline;
    }

    .hamburg {
        width: 50px;
        height: 50px;
        background-color: white;
    }



    iframe {
        width: 250px;
        height: 200px;
    }

    #footer-contact {
        margin-right: 0;
        width: 75vw;
    }

    #footer-location {
        padding-bottom: 50px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .countdownText {
        text-shadow: none;
    }

    .Footer {
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }

    .Footer-Section {
        margin-top: 5vh;
        width: 250px;
        height: 200px;
    }
}


/* @supports (-webkit-text-stroke: 2px black) {
    #countdown-timer {
      -webkit-text-stroke: 2px black;
      -webkit-text-fill-color: white;
    }
} */
