---
import Main from "../layouts/main.astro";
import Section from "../components/section.astro";
import Nav from "../components/nav.astro";
import "../styles/style.css";
---

<Main>
    <Nav />
    <Section id="section">
        <h1>SCEFCO 2024!</h1>
        <h2>STARTING IN</h2>
        <h4>(INSERT COUNTDOWN)</h4>
    </Section>
</Main>
