---
import Main from "../layouts/main.astro";
import Nav from "../components/nav.astro";
import Section from "../components/section.astro";
import "../styles/style.css";
---

<Main>
    <Nav />
    <Section id="section">
        <h1>(INSERT TENTANG SCEFCO)</h1>
    </Section>
</Main>
