---
import "../styles/style.css";
import LogoSC from "../images/logo/sceflogo.jpg";
import Image from "astro/components/Image.astro";
import HamBurg from "../images/nav/burger-bar.png";
const { id: idName, class: className, ...rest } = Astro.props;
---

<nav id={idName} class={className}>
  <div id="mainDiv">
    <div id="navHolder">
      <a href="/#section-countdown" id="section-home-link" class="navtext">HOME</a>
      <a href="/#section-tentang" id="section-tentang-link" class="navtext">TENTANG</a>
      <a href="/#section-countdown">
        <Image alt="logo sc" src={LogoSC} class="navDiv" id="navLogo" />
      </a>
      <a href="/#section-lomba" class="navtext">LOMBA</a>
      <a href="/Juknis_Scefco.pdf" id="section-merch" class="navtext">JUKNIS</a>
    </div>
    <div id="hamburger" class="hamburg">
      <Image class="hamburg" alt="hamburg" src={HamBurg} />
      <script src="../scripts/nav.js"></script>
    </div>
  </div>
  <div id="navDrop">
    <a href="#section-countdown" id="home-link" class="navText">Home</a>
    <a href="#section-tentang" class="navText">Tentang</a>
    <a href="#section-lomba" class="navText">Lomba</a>
    <a href="/Juknis_Scefco.pdf" id="merch-link" class="navText">Juknis</a>
  </div>
</nav>
