---
import "../styles/style.css";
import LogoSC from "../images/logo_sc_putih.jpg";
import Image from "astro/components/Image.astro";
import HamBurg from "../images/burger-bar.png";
const { id: idName, class: className, ...rest } = Astro.props;
---

<nav id={idName} class={className}>
  <Image alt="logo sc" src={LogoSC} class="navDiv" id="navLogo" />
  <div id="navHolder">
    <a href="#section-home" class="navtext">Home</a>
    <a href="#section-tentang" class="navtext">Tentang</a>
    <a href="#section-lomba" class="navtext">Lomba</a>
    <a href="" class="navtext">Merch</a>
  </div>
  <div id="hamburger">
    <button onclick="">
      <Image id="hamburg" alt="hamburg" src={HamBurg} />
    </button>
  </div>
</nav>
