---
import "../styles/style.css";
import LogoSC from "../images/logo/sceflogo.jpg";
import Image from "astro/components/Image.astro";
import HamBurg from "../images/nav/burger-bar.png";
const { id: idName, class: className, ...rest } = Astro.props;
---

<nav id={idName} class={className}>
  <div id="mainDiv">
    <img alt="logo sc" src={LogoSC.src} class="navDiv" id="navLogo" />
    <div id="navHolder">
      <a href="#section-home" class="navtext">Home</a>
      <a href="#section-tentang" class="navtext">Tentang</a>
      <a href="#section-lomba" class="navtext">Lomba</a>
      <a href="" class="navtext">Merch</a>
    </div>
    <div id="hamburger" class="hamburg">
      <Image class="hamburg" alt="hamburg" src={HamBurg} />
      <script src="../scripts/nav.js"></script>
    </div>
  </div>
  <div id="navDrop">
    <a href="#section-home" id="home-link" class="navText">Home</a>
    <a href="#section-tentang" class="navText">Tentang</a>
    <a href="#section-lomba" class="navText">Lomba</a>
    <a href="" id="merch-link" class="navText">Merch</a>
  </div>
</nav>
