---

---
<div class="daftar-lomba" id="lomba-main">
    <div class="daftar-lomba" id="lomba-grid">
        <div class="daftar-lomba lomba-entry" id="lomba1">Lomba 1</div>
        <div class="daftar-lomba lomba-entry" id="lomba2">Lomba 2</div>
        <div class="daftar-lomba lomba-entry" id="lomba3">Lomba 3</div>
        <div class="daftar-lomba lomba-entry" id="lomba4">Lomba 4</div>
        <div class="daftar-lomba lomba-entry" id="lomba5">Lomba 5</div>
        <div class="daftar-lomba lomba-entry" id="lomba6">Lomba 6</div>
    </div>
</div>
<style>
    .daftar-lomba {
        margin: 0;
        padding: 0;
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .lomba-entry {
        width: 30vw;
        height: 40vh;
        z-index: 0;
        animation-duration: 0.25s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards
    }

    #lomba-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    #lomba-grid {
        display: grid;
        grid-template-rows: 40vh 40vh;
        grid-template-columns: 30vw 30vw 30vw;
    }

    @keyframes zoomIn {
        to {
            width: 90vw;
            height: 80vh;
        }
    }

    @keyframes zoomOut {
        to {
            width: 30vw;
            height: 40vh;
        }
    }
</style>

<script src="../scripts/lomba-zoom.js"></script>