---
const { id: idName, class: className, ...rest } = Astro.props;
---

<div id={idName} class={className} {...rest}>
    <slot />
</div>

<style>
    div {
        margin: 0 auto;
        width: 100vw;
        height: 99vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid black;
    }
</style>
