---
import "../../styles/style.css";
import Main from "../../layouts/main.astro";
import Nav from "../../components/nav.astro";
import Section from "../../components/section.astro";
---

<Main>
    <Nav />
    <Section id="section">
        <h1>(INSERT LOMBA)</h1>
    </Section>
</Main>
